body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.hero-section,
.footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.hero-section {
    padding: 20px 210px;
}

.header, 
.footer {
    display: flex;
    justify-content: center;
}

.header {
    justify-content: space-between;
}

.logo,
.hero-text {
    font-weight: 900;
    color: #f9faf8;
}

.logo {
    font-size: 24px;
}

.hero-text {
    font-size: 48px;    
}

.secondary-text,
.links, 
a {
    font-size: 18px;
    color: #e5e7eb;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 8px;
}

a {
    text-decoration: none;
}

.content {
    flex: 1;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 50px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.placeholder {
    background-color: #bdbdbd;
    width: 1000px;
    height: 230px;
    border: none;
}

.info-section, 
.quote-section,
.modal-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-section {
    flex-direction: column;
    gap: 32px;
    padding: 50px 210px;
    margin-bottom: 80px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-images {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    text-align: center;
}

.square {
    width: 160px;
    height: 160px;
    border: 4px solid #3882f6;
    border-radius: 10%;
}

.info-text {
    font-size: 18px;
    color: #1f2937;
    margin-top: 10px;
    align-self: center;
}

.quote-section {
    flex-direction: column;
    background: #e5e7eb;
    padding: 120px 300px;
}

.quote {
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
}

.quote-author {
    font-size: 24px;
    font-weight: 900;
    align-self: flex-end;
}

.modal-section {
    padding: 120px 200px;
}

.modal {
    width: 800px;
    height: 150px;
    background-color: #3882f6;
    border: 4px solid #3882f6;
    border-radius: 10px;
    padding: 0px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.modal-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    align-items: center;
    font-size: 18px;
    padding: 40px 210px;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  width: 130px;
  font-size: 16px;
  font-weight: 900;
  background: #3882f6;
  color: #fff;
}
.hero-button {
    border: 1px solid #3882f6;
}

.modal-button {
  border: 2px solid #fff;
}
